<div class="dashboard">
  <div class="sidebar">
    <!-- Review Platform Cards -->
      <div class="review-platform-card">
        <% @review_platforms.each do |platform| %>
          <%= platform.logo_url %>
          <%= <span>platform.name</span> %>
        <% end %>
      </div>
            <%# <div class="review-platform-card">
                <i class="fab fa-google"></i>
                <span>Google</span>
            </div>
            <div class="review-platform-card">
                <i class="fab fa-facebook-f"></i>
                <span>Facebook</span> %>
            <%# </div> %>
            <!-- Add more review platform cards -->
        </div>
        <div class="content">
            <!-- Content will go here -->
        </div>
    </div>
