<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <p class="contact">NinjaRating Inc. | email: ninja@rating.ai | Phone: +34 345 678 910</p>
      </div>
      <div class="footer-section">
        <ul class="social-icons">
          <li><a href="YOUR_FACEBOOK_LINK"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="YOUR_TWITTER_LINK"><i class="fab fa-twitter"></i></a></li>
          <li><a href="YOUR_INSTAGRAM_LINK"><i class="fab fa-instagram"></i></a></li>
          <li><a href="YOUR_LINKEDIN_LINK"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
