<div class="review-card">
  <div class="review-details">
    <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw3NjA4Mjc3NHx8ZW58MHx8fHx8&w=1000&q=80" alt="profile_picture" id="round-picture">
      <div class="name-rating">
        <p><strong></strong> <%= review.reviewer_name %></p>
          <div class="rating-stars">
          <%= render_stars(review.rating) %>
        </div>
      </div>
  </div>
  <div class="review-content">
    <p><%= review.content %></p>
  </div>
</div>

<div class="reply-card">
  <div class="review-reply">
    <textarea class="reply-input" placeholder="reply..."></textarea>
  </div>
</div>

<div class="categories-card">
  <div class="categories">
    <button class="category-button">
      <i class="fa fa-plus"></i> Add Main Category
    </button>
    <button class="category-button">
      <i class="fa fa-plus"></i> Add Secondary Categories
    </button>
  </div>
</div>

<div class="buttons-container">
  <button class="dispute-button">Open Dispute</button>
  <button class="reply-button">Send Reply</button>
</div>
