<div class="review-card">
  <div class="review-details">
    <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw3NjA4Mjc3NHx8ZW58MHx8fHx8&w=1000&q=80" alt="profile_picture" id="round-picture">
      <div class="name-rating">
        <p><strong></strong> <%= review.reviewer_name %></p>
          <div class="rating-stars">
          <%= render_stars(review.rating) %>
        </div>
      </div>
  </div>
  <div class="review-content">
    <p><%= review.content %></p>
  </div>
</div>
