<div class="reports-edit-container">
  <div class="report-pdf">
    <%= render "pdf" %>
  </div>

  <div class="save-pdf-button-container">
    <a href="https://docdro.id/L3mg32h" class="save-pdf-button" target="_blank">Save Pdf</a>
  </div>
</div>
