<head>
  <style>
    .add-review-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid #ddd;
  background-color: #0A77FF;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin: auto;

    h2 {
      margin: 0px;
  }
}

.add-icon {
  margin-right: 10px;
}


.add-review-container {
  margin-top: 80px;
}

.transparent-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #0A77FF;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin: auto;
  border: none;
}

.modal-dialog {
  pointer-events: all;
}

.modal-content {
  border-radius: 15px;
}

#action-item-input {
  display: flex;
  align-items: center;
  text-align: center;
  input {
    width: 90%;
    margin-top: 15px;
    border-radius: 10px;
    padding: 3px;
    padding-left: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.action-items-container {
  align-items: center;
  text-align: center;
  margin-bottom: 10%;
  button {
    border-radius: 15px;
  border: 1px solid #ddd;
  background-color: #0A77FF;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin-top: 15px;
  }
}

.kpi-containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.action-items-list {
  margin-top: 15px;
}

.action-items-list-container {
  margin-top: 35px;
}

.report-pdf {
  width: 85%;
  background-color: white;
  margin: 50px auto;
  padding: 120px;
  background-color: #FFFFFF;

  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
}

.example-reviews-container {
  width: 100%;
}

.kpi-box, .review-box {
  background-color: #f1f1f1;
  padding: 20px;
  padding-left: 35px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 200px;
  margin: 5px; /* Add some margin around each box */
}
.review-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 70%;
  margin: 15px auto;
  position: relative;
  &:hover > .transparent-card {
    visibility: visible;
    opacity: 1;
    align-items: center;
    justify-items: center;
    border: 2px solid #0a78ffd9;
  }
}

.reply-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 70%;
  margin: 15px auto;
}

.reply-input {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 100%;
  height: 100%;
}

.review-details {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.review-content {
  margin-top: 10px;
  p {
    margin: 0px;
  }

}

#round-picture {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.name-rating {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }
}

.rating-stars {
  display: inline-block;
  font-size: 15px; /* Adjust the font size as needed */
}

.rating-stars .fas {
  color: orange; /* Color for filled stars */
}

.rating-stars .far {
  color: transparent; /* Transparent color for empty stars */
}

.title-container {
  max-width: 70%;
  padding-top: 25px;
  padding-bottom: 0px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h5 {
    margin-bottom: 0px;
    align-self: flex-end;
  }
}
.categories-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 70%;
  margin: 15px auto;
}

.category-button {
  border-radius: 15px;
  border: 1px solid #ddd;
  background-color: #0A77FF;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.dispute-button {
  border-radius: 15px;
  border: 1px solid #ddd;
  background-color: #0A77FF;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  width: 200px;
  text-decoration: none;
  margin-right: 20px;
}
.reply-button {
  border-radius: 15px;
  border: 1px solid #ddd;
  background-color: #0A77FF;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  width: 200px;
  margin-left: 20px;
  text-decoration: none;
}

.buttons-container {
  padding: 10px;
  margin-bottom: 15px;
  max-width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;

}

#next-review-button {
  border-radius: 15px;
  border: 1px solid #ddd;
  background-color: #0A77FF;
  color: white;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}


.select2-enable {
  width: 100%;
}

.categories-button {
  border-radius: 15px;
  border: 1px solid #ddd;
  background-color: #0A77FF;
  color: white;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}

.select2-selection {
  margin-bottom: 20px;

}

.categories {
  margin-bottom: 20px;
}

.selected-categories {
  border-radius: 15px;
  border: 1px solid #ddd;
  background-color: #00b53c;
  color: white;
  text-decoration: none;
}

.current-categories-container {
  display: flex;
  width: 100%;
}

.category-item {
  display: inline-block;
  margin-right: 10px;
}

.category-list {
  list-style-type: none;
  padding: 0;
}

  </style>
</head>

<body>
  <div class="report-pdf">
    <%= render "pdf" %>
  </div>
</body>
